<h1>This is the user's view</h1>

<h2>User Form</h2>
<form action="index.html" method="post" accept-charset="UTF-8">
  <div class="">
    <label for="name">User name</label>
    <input type="text" name="name" value="">
  </div>
  <div class="">
    <label for="email">Email</label>
    <input type="text" name="email" value="">
  </div>
  <div class="">
    <label for="password">password</label>
    <input type="password" name="password" value="">
  </div>
  <button type="submit" name="button">Submit</button>
</form>
